{% macro CRTP_type(name, dependencies, trailing_dashes = True) %}
{{name}}<
  {{name}}Implementation{{ '_' if trailing_dashes }}
  {%- for dep in dependencies %}
    , {{dep}}Implementation{{ '_' if trailing_dashes }}
  {% endfor %}
>
{% endmacro %}