{% macro pascal_to_snake_case(text) %}
  {%- for letter in text %}
    {%- if letter is upper %}{%- if not loop.first %}_{%- endif %}{{letter | lower}}{%- else %}{{letter}}{%- endif %}
  {%- endfor %}
{% endmacro %}
