{% macro type(type_desc) %}
  {{- type_desc.left_const}}{{" "}}
  {{- type_desc.type_name}}
  {%- if type_desc.template_arguments  %}
    <{%- for template_type_desc in type_desc.template_arguments %}
        {{- type(template_type_desc) }}
        {%- if not loop.last %},{%- endif %}
    {%- endfor %}>
  {%- endif %}
  {{- type_desc.right_const}}
  {{- type_desc.indirection | join(' ')}}
{% endmacro %}
